.card {
  display: flex;
  font-size: 18px;
  padding: 12px;
}
.card img {
  width: 220px;
}

.userScore {
  margin-top: 20px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

.link {
  margin-top: 20px;
}

.overview {
  font-style: italic;
  font-size: 16px;
}
