.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.castList__item {
  margin-right: 14px;
  margin-bottom: 12px;
  cursor: pointer;
}

img {
  height: 320px;
  width: 220px;
}

.filmName {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
