.trendingList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trendingList__item {
  margin-right: 14px;
  width: 22%;
  margin-bottom: 12px;
}

.mainTitle {
  margin: 20px;
  color: #2a363b;
  font-size: 18px;
}
img {
  height: 320px;
  width: 220px;
}

.filmName {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
